@font-face {
    font-family: "Ibm-Plax-Sans";
    src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
}

:root {
    --marrom-portifolio: #BC6C25;
    --bege-portifolio: #F1E5CF;
    --verde-portifolio: #789084;
    --cinza-portifolio: #555555;
    --azul-portifolio: #1A2853;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 2115px;
    width: 1920px;
}

p {
    font-size: 20px;
    color: var(--azul-portifolio);
}

h1 {
    font-size: 40px;
    color: #1A2853;
}

h2 {
    font-size: 30px;
    color: #1A2853;
}

.banner {
    height: 530px;
    width: 100%;
    color: var(--bege-portifolio);
    display: flex;
    justify-content: center;
}

.container-grid {
    width: 80%;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.sobre {
    height: 800px;
    width: 80%;
}